flask
pyaudio
numpy==1.23.5
librosa
scikit-learn==1.3.0
pandas
seaborn
matplotlib
tqdm
joblib
moviepy==1.0.3
imageio-ffmpeg
pydub
gunicorn
soxr>=0.3.0
resampy
tensorflow-cpu>=2.15.0
opencv-python-headless
fer>=22.5.1
flask-sqlalchemy